<h1>Adicionar carro</h1>
<form class=" col-md-4" style="margin-top: 25px; margin-bottom: 25px;">
    <div class="form-group">
        <label for="make">Marca</label>
        <select class="form-control" name="make" id="make" (change)="OnMakeChange()" [(ngModel)]="vehicle.make">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
        </select>
    </div>
    <div class="form-group" style="margin-top: 25px;">
        <label for="model">Modelo</label>
        <select class="form-control" name="model" id="model">
            <option value=""></option>
            <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
        </select>
    </div>
    <p>Carro registrado</p>

    <label for="registered" class="radio-inline">
        <input type="radio" value="true" name="isRegistered" id="registered"/> Yes
    </label>
    <label for="notRegistered" class="radio-inline">
        <input type="radio" value="false" name="isRegistered" id="notRegistered" /> No
    </label>

    <h2>Opcionais</h2>
    <div *ngFor="let f of features" class="checkbox">
        <label for="feature{{ f.id }}">
            <input type="checkbox" id="feature{{ f.id }}"/> {{ f.name }}
        </label>
    </div>

    <h2>Contato</h2>
    <div class="form-group">
        <label for="contactName">Nome</label>
        <input id="contactName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="contactPhone">Telefone</label>
        <input id="contactPhone" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input id="contactEmail" type="text" class="form-control" />
    </div>

    <button class="btn btn-primary">Salvar</button>
</form>